body{
    width: 100%;
    height: 100%;
}

/*.container{*/
	/*display: -ms-flexbox;*/
	/*display: -webkit-flex;*/
	/*display: flex;*/

	/*-ms-flex-align: center;*/
	/*-webkit-align-items: center;*/
	/*-webkit-box-align: center;*/

	/*align-items: center;*/

    /*height: 50vh;*/
/*}*/

#drop_notes_title{
    margin-left: 1rem;
}


#form_login{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}


#first_card{
    align-items: right;
}


.u-flex-align-center {
    display: flex;
    align-items: center;
}

.u-flex-justify-center {
    display: flex;
    justify-content: center;
}

.success-fail-image {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 5em;
    padding: 3rem 0;
}