{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="width: 50%;margin-left: 25%;margin-right: 25%;">
        <div class="col-md-6">
            <div class="card" style="width: 18rem; float: right">
                <img src="http://www.pvhc.net/img129/isnhbhcreakwjqkapjln.png" width="100%" height="300"/>
              <div class="card-body">
                <a href="/deposit" class="card-link">Deposit</a>
              </div>
            </div>
        </div>

        <div class="col-md-6" id="second_card">
            <div class="card" style="width: 18rem;">
 <img src="https://cdn1.iconfinder.com/data/icons/folders-3/96/Box-withFolders-512.png" width="100%" height="300"/>
              <div class="card-body">
                <a href="/collect" class="card-link">Collection</a>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}