{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row" style="padding-left: 25%; padding-right: 25%; height: 80vh; display: flex; align-items: center">
        <div class="col-md-6 col-sm-12">
            <div class="card text-center">
				<div class="success-fail-image bg-primary">
					<i class="fas fa-arrow-down"></i>
				</div>
				<div class="card-body">
					<div class="mt-4 mb-4">
						<a href="/deposit" class="btn btn-primary btn-lg">Deposit</a>
					</div>
				</div>
			</div>
        </div>

        <div class="col-md-6 col-sm-12" id="second_card">
            <div class="card text-center">
				<div class="success-fail-image bg-success">
					<i class="fas fa-arrow-up"></i>
				</div>
				<div class="card-body">
					<div class="mt-4 mb-4">
						<a href="/collect" class="btn btn-success btn-lg">Collect</a>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>


<style>
	.u-flex-align-center {
		display: flex;
		align-items: center;
	}

	.u-flex-justify-center {
		display: flex;
		justify-content: center;
	}

	.success-fail-image {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 5em;
		padding: 3rem 0;
	}
</style>
{% endblock %}