<!DOCTYPE html>
<html>
<head>
	<title>DropNotes</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/overrides.css">
	<!-- <script src="https://use.fontawesome.com/a2cb36dda9.js"></script> -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">

		<!-- Button trigger modal -->
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#fail">
			Fail
		</button>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#success">
			Success
		</button>
		<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#timeout">
			Timeout
		</button>

		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			<div class="modal-content">
			<div class="card text-center" style="border: none;">
				<div class="success-fail-image bg-primary">
					<i class="far fa-check-circle"></i>
				</div>
				<div class="card-body">
					<h2 class="mt-2">
						A001
					</h2>
					<p class="card-text mt-2 ml-2 mr-2">Your lecture notes is ready to collect on locker A001.</p>
					<div class="mt-4">
						<a href="#" class="btn btn-primary">End session</a>
					</div>
					<div class="mt-2 mb-2">
						<a href="#" class="btn btn-link">Perform another action</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="failTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			<div class="modal-content">
			<div class="card text-center" style="border: none;">
				<div class="success-fail-image bg-danger">
					<i class="far fa-times-circle"></i>
				</div>
				<div class="card-body">
					<h2 class="mt-2 ml-2 mr-2">
						Error
					</h2>
					<p class="card-text mt-2">An unknown error has occured. Please try again later.</p>
					<div class="mt-4 mb-2">
						<a href="#" class="btn btn-secondary">Close</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="timeout" tabindex="-1" role="dialog" aria-labelledby="timeoutTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			<div class="modal-content">
			<div class="card text-center" style="border: none;">
				<div class="success-fail-image bg-warning">
					<i class="fas fa-exclamation-triangle"></i>
				</div>
				<div class="card-body">
					<h2 class="mt-2 ml-2 mr-2">
						Timeout
					</h2>
					<p class="card-text mt-2">
						Your deposit has timed out.
						<br>
						Please try again.
					</p>
					<div class="mt-4 mb-2">
						<a href="#" class="btn btn-secondary">Close</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>



</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style type="text/css">
	.u-flex-align-center {
		display: flex;
		align-items: center;
	}

	.u-flex-justify-center {
		display: flex;
		justify-content: center;
	}

	.success-fail-image {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 5em;
		padding: 3rem 0;
	}
</style>
</html>
