{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Instascan &ndash; Demo</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <script src="https://use.fontawesome.com/a2cb36dda9.js"></script> -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  </head>
  <body>

    <div class="container">
		<div class="col-12">
			<div class="row mt-5">
				<img src="{% static 'images/logo-240-46.svg' %}" height="46" width="240">
			</div>
			<div class="row u-flex-align-center mt-5 mb-4">
				<div class="mr-3">
					<a href="/collect_or_deposit" class="btn btn-outline-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
				</div>
				<div>
					<h1>Deposit</h1>
				</div>
			</div>
			<div class="row mt-5 mb-5 u-flex-justify-center">

                <div id="app">
                  <div class="sidebar">
                    <section class="scans">
                      <transition-group name="scans" tag="ul">
                        <li v-for="scan in scans" :key="scan.date" :title="scan.content">{{ scan.content }}</li>
                      </transition-group>
                    </section>
                  </div>
                  <div class="preview-container">
                    <video id="preview"></video>
                  </div>
                </div>

			</div>
			<div class="row">
				<h4 class="text-center" style="width: 100%">
					Please scan the barcode from the first page of your lecture note.
				</h4>
			</div>
		</div>
	</div>

  	<!-- Modal -->
	<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="confirmationTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmationTitle">Deposit on A001</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Depositing DR2008 asdasd. Please put your notes on locker A001.</p>

					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
						<label class="form-check-label text-secondary" for="defaultCheck1">
							I agree to deposit only the designated lecture note and not abuse the system in any way. I confirm that the notes are on good condition.
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" disabled id="confirm_deposit_button">Confirm deposit</button>
				</div>
			</div>
		</div>
	</div>


    <!-- Modal -->
	<div class="modal fade" id="success_modal" tabindex="-1" role="dialog" aria-labelledby="successTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			<div class="modal-content">
			<div class="card text-center" style="border: none;">
				<div class="success-fail-image bg-primary">
					<i class="far fa-check-circle"></i>
				</div>
				<div class="card-body">
					<h2 class="mt-2">
						Thank you
					</h2>
					<div class="mt-4">
						<a href="/" class="btn btn-primary">End session</a>
					</div>
					<div class="mt-2 mb-2">
						<a href="/collect_or_deposit" class="btn btn-link">Perform another action</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

  </body>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="{%  static 'js/app.js'%}"></script>
<style type="text/css">
	.u-flex-align-center {
		display: flex;
		align-items: center;
	}

	.u-flex-justify-center {
		display: flex;
		justify-content: center;
	}

	.course-list {
		width: 100%;
	}

	.course-list > .card {
		transition: all 0.5s ease;
		box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05);
	}

	.course-list > .card:hover {
		background: rgba(0, 0, 0, 0.025);
		cursor: pointer;
	}

    	.u-flex-align-center {
		display: flex;
		align-items: center;
	}

	.u-flex-justify-center {
		display: flex;
		justify-content: center;
	}

	.success-fail-image {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 5em;
		padding: 3rem 0;
	}
</style>

<script>
    $(function(){

        var isChecked = false;
        var list_courses = [];

        $('#defaultCheck1').click(
            function(){
                isChecked = !isChecked;

                if(isChecked){
                    $("#confirm_deposit_button").removeAttr("disabled");
                }else{
                     $("#confirm_deposit_button").prop('disabled', true);
                }
            }
        );



        $("#confirm_deposit_button").click(
            function(){
                $("#confirmation").modal('hide');
                $('#success_modal').modal('show');
                call_api_deposit();
            }
        );


        function call_api_deposit(){

            var data_post = {};

            list_courses.forEach(function(data){
                if(data.key == key_chossen){
                    data_post = data;
                }
            });

             $.ajax({
                url: "http://128.199.94.136:8000/post_collection",
                headers: {
                    "Access-Control-Allow-Origin": "*"
                },
                success: function(responses) {
                },
                method: "POST",
                data: JSON.stringify({key: key_chossen, stock: data_post.get("stock")+1})
            });
        }

        function call_api_get_collection(){
             $.ajax({
                url: "http://128.199.94.136:8000/get_collection",
                headers: {
                    "Access-Control-Allow-Origin": "*"
                },
                success: function(responses) {
                   	list_courses = responses;
			console.log("list_courses", list_courses);
                },
                method: "GET"
            });
        }

        // call api first
        call_api_get_collection();


    });
</script>

</html>
