<!DOCTYPE html>
<html>
<head>
	<title>DropNotes</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/overrides.css">
	<!-- <script src="https://use.fontawesome.com/a2cb36dda9.js"></script> -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
</head>
<body>
	<div class="container">
		<div class="col-12">
			<div class="row mt-5">
				<img src="logo-240-46.svg">
			</div>
			<div class="row u-flex-align-center mt-5 mb-4">
				<div class="mr-3">
					<button type="button" class="btn btn-outline-secondary"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
				</div>
				<div>
					<h1>Deposit</h1>
				</div>
			</div>
			<div class="row mt-5 mb-5 u-flex-justify-center">
				<img src="https://via.placeholder.com/400x400">
			</div>
			<div class="row">
				<h4 class="text-center" style="width: 100%">
					Please scan the barcode from the first page of your lecture note.
				</h4>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style type="text/css">
	.u-flex-align-center {
		display: flex;
		align-items: center;
	}

	.u-flex-justify-center {
		display: flex;
		justify-content: center;
	}

	.course-list {
		width: 100%;
	}

	.course-list > .card {
		transition: all 0.5s ease;
		box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05);
	}

	.course-list > .card:hover {
		background: rgba(0, 0, 0, 0.025);
		cursor: pointer;
	}
</style>
</html>