{% load staticfiles %}
<!DOCTYPE html>
<html style="font-size:32px">
<head>
	<title>DropNotes</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <script src="https://use.fontawesome.com/a2cb36dda9.js"></script> -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
</head>
<body>
	<div class="container" style="padding: 0 2rem; max-width: 100%;">
		<div class="col-12">
			<div class="row mt-4">
				<img src="{% static 'images/logo-240-46.svg' %}" width="360" height="69">

			</div>
			<div class="row u-flex-align-center mt-4 mb-4">
				<div>
					<h3>Available Notes</h3>
				</div>
			</div>
			<div class="row">
                <div class="input-group input-group-lg mb-4">
                    <input type="text" id="search_input" class="form-control" placeholder="Course index (e.g. FE1008)" aria-label="Recipient's username" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button id="search_button" class="btn btn-primary" type="button"><i class="fas fa-search"></i> Search</button>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="course-list" id="course-list">

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style type="text/css">

	.u-flex-justify-center {
		display: flex;
		justify-content: center;
	}

	.course-list {
		width: 100%;
	}

	.course-list > .card {
		transition: all 0.5s ease;
		box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.05);
	}

    .u-flex-align-center {
		display: flex;
		align-items: center;
	}

	.u-flex-justify-center {
		display: flex;
		justify-content: center;
	}

	.success-fail-image {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 5em;
		padding: 3rem 0;
	}
</style>

<script>

    var url = 'http://128.199.94.136:8000'; // Remote
    // var url = 'http://192.168.1.126:8000'; // Local

    $(function(){

        // Load all
        $.ajax({
            url: url+"/get_collection",
            headers: {
                "Access-Control-Allow-Origin": "*"
            },
            success: function(responses) {
                console.log("Displaying all lecture notes");
                console.log("data", responses);
                generate(responses);
            },
            method: "GET"
        });

    var courses = new Array();

    var generate = function(responses) {

        // Clear all displayed courses
        document.getElementById('course-list').innerHTML = "";

        // Regenerate & redisplay courses
        if (responses.length > 0) {
            responses.forEach((data) => {
                // Have stock
                if (data.stock > 0) {
                    $("#course-list").append(`

                        <div class="card mb-4 course">
                            <div class="card-body">
                                <h5 class="card-title">` + data.key + `</h5>
                                <p class="card-text">
                                    <span class="text-secondary">Stock: ` + data.stock + `</span>
                                    <br>
                                    <span class="text-secondary">Available at: ` + data.location + `</span>
                                </p>
                            </div>
                        </div>

                    `);
                }

                // No stock
                else {
                    $("#course-list").append(`

                        <div class="card mb-4 course">
                            <div class="card-body">
                                <h5 class="card-title">` + data.key + `</h5>
                                <p class="card-text">
                                    <span class="text-danger">Out of stock</span>
                                    <br>
                                    <span class="text-secondary">Available at: ` + data.location + `</span>
                                </p>
                            </div>
                        </div>

                    `);
                }

            });
        } else {
            // Course not found
        }
    }

        // Search input field handler
        $('#search_input').on('input', function() {
            // Init courses global variable before regenerating the array
            courses = [];

            if ($('#search_input')[0].value.length > 0) {

                $.ajax({
                    url: url+"/search_collection",
                    headers: {
                        "Access-Control-Allow-Origin": "*"
                    },
                    success: function(responses) {
                        console.log("data", responses);
                        generate(responses);
                    },
                    method: "POST",
                    data: JSON.stringify({ "query": $('#search_input')[0].value })
                });

            } else {
                // Empty, display all
                $.ajax({
                    url: url+"/get_collection",
                    headers: {
                        "Access-Control-Allow-Origin": "*"
                    },
                    success: function(responses) {
                        console.log("Displaying all lecture notes");
                        console.log("data", responses);
                        generate(responses);
                    },
                    method: "GET"
                });

            }
        });

        // Search button handler
        $('#search_button').on('click', function() {

            console.log($('#search_input')[0].value);

            // Init courses global variable before regenerating the array
            courses = [];

            if ($('#search_input')[0].value.length > 0) {

                $.ajax({
                    url: url+"/search_collection",
                    headers: {
                        "Access-Control-Allow-Origin": "*"
                    },
                    success: function(responses) {
                        console.log("data", responses);
                        generate(responses);
                    },
                    method: "POST",
                    data: JSON.stringify({ "query": $('#search_input')[0].value })
                });

            } else {
                // Empty, display all
                $.ajax({
                    url: url+"/get_collection",
                    headers: {
                        "Access-Control-Allow-Origin": "*"
                    },
                    success: function(responses) {
                        console.log("Displaying all lecture notes");
                        console.log("data", responses);
                        generate(responses);
                    },
                    method: "GET"
                });

            }
        });
    });

</script>
</html>
